org: arrgmin
app: aws-test-2
service: aws-test-2
frameworkVersion: '3'

# package:
package:
  individually: true # package each module (eg.: "backend") individually
  patterns:
    - "!node_modules/**"
    - "!venv/**"


provider:
  name: aws
  region: eu-west-1
  stage: ${opt:stage, "dev"}  # not sure what this does
  runtime: python3.8

  # cloudFront:
  #   cachePolicies:
  #     testCachePolicy:
  #       MinTTL: 0
  #       MaxTTL: 86000
  #       DefaultTTL: 3600


plugins:
  - serverless-python-requirements
  # - serverless-wsgi


custom:
  pythonRequirements:
    slim: true
    # dockerizePip: non-linux
    # individually: true   # package each module (eg.: "backend") individually
  config:
    s3_bucket_name: lorrgs
    s3_origin_path: /


functions:
  api:
    runtime: python3.8
    module: backend
    handler: handler.handler
    environment:
      STAGE: ${self:provider.stage}
    events:
      - http: GET /
      - http: GET /{proxy+}
    memorySize: 256 # optional, in MB, default is 1024
    timeout: 30 # optional, in seconds, default is 6


resources:
  Resources:

    #########################
    # OriginAccessIdentity for our S3 Bucket
    cloudfrontoriginaccessidentity:
      Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
      Properties: 
        CloudFrontOriginAccessIdentityConfig:   # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-cloudfrontoriginaccessidentity.html
          Comment: ""

    # DefaultCachePolicy:
    #   Type: AWS::CloudFront::CachePolicy
    #   Properties:
    #     CachePolicyConfig:
    #       Name: api-static
    #       MinTTL: 1
    #       MaxTTL: 31536000
    #       DefaultTTL: 86400
    #       ParametersInCacheKeyAndForwardedToOrigin:
    #         CookiesConfig:
    #           CookieBehavior: none
    #         EnableAcceptEncodingBrotli: true
    #         EnableAcceptEncodingGzip: true
    #         HeadersConfig:
    #           HeaderBehavior: none
    #         QueryStringsConfig:
    #           QueryStringBehavior: all

    #########################
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Enabled: true
          Comment: test_2a
          PriceClass: PriceClass_100

          #########################
          # Cache Polcies


          #########################
          # Behaviours
          DefaultCacheBehavior:
            AllowedMethods: [GET, OPTIONS, HEAD]
            TargetOriginId: s3_origin
            CachePolicyId: 658327ea-f89d-4fab-a63d-7e88639e58f6  # Managed-CachingOptimized
            ViewerProtocolPolicy: redirect-to-https
          # Cache
          CacheBehaviors:
            - PathPattern: "api/*"
              TargetOriginId: lambda_origin
              CachePolicyId: 2e54312d-136d-493c-8eb9-b001f22f67d2 # Managed-Amplify
              ViewerProtocolPolicy: redirect-to-https
              # Compress: true
              # ForwardedValues:
              #   QueryString: true

          #########################
          # CloudFront Origins
          Origins:
          # 1) S3 Origin
          - Id: s3_origin
            # DomainName: ${self:custom.config.s3_bucket_name}.s3.${self:provider.region}.amazonaws.com
            DomainName: lorrgs.s3.eu-west-1.amazonaws.com
            S3OriginConfig:
              OriginAccessIdentity:
                Fn::Join: ["",  [origin-access-identity/cloudfront/, Ref: cloudfrontoriginaccessidentity]]
          # 2) Lambda Origin
          - Id: lambda_origin
            DomainName:
              Fn::Join: ["", [Ref: ApiGatewayRestApi, ".execute-api.${self:provider.region}.amazonaws.com"]]
            OriginPath: /${self:provider.stage}
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: https-only
